@charset "utf-8";

/*Reset*/
/* Change all elements to use border-box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*******/




#animation {
	display: flex;
	flex-flow: nowrap;
	justify-content: center;
}
#animation1 {
	position: absolute;
	z-index: 10;
	width: 900px;
	display: flex;
	flex-flow: nowrap;
	justify-content: center;
}
#animation2 {
	z-index: 20;
}
canvas {
	border: 0px solid black;
}
